/**
 * @module          FSlider
 * @author          ISB
 * @copyright       2019-2020 ISB
 * @link            https://www.internet-service-berlin.de
 * @license         GNU General Public License 3 (see info.php)
 * @license_terms   see license
 *
 */

/* Slider */
#stage {margin:0;width:1200px;height:420px;position:relative;}
#stage a {position: absolute;}
#stage a img {padding: 0;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
#stage a:nth-of-type(1) {animation-name: tanagofader;animation-delay: 4s;animation-duration: 1s;z-index:20;}
#stage a:nth-of-type(2) {z-index: 10;}
#stage a:nth-of-type(n+3) {display: none;}

/* Animation */
@keyframes tanagofader { from { opacity: 1.0; } to   { opacity: 0.0; } }

/* Caption */
.capt {position:absolute;top:30px;left:30px;color:#fff;}
#stage h1 {font-family:'droid_sansbold';font-weight:normal;text-shadow:#000000 0 0 3px,#000000 0 0 7px;color: #fff;font-size:40px;line-height:40px;margin:0;}
#stage p {font-family:'droid_sansbold';font-weight:normal;text-shadow:#000000 0 0 3px,#000000 0 0 7px;color: #fff;font-size:24px;line-height:24px;margin:0;}
#stage button {color: #fff;font-family:'droid_sansregular';font-weight:normal;font-size:16px;text-shadow:#000000 0 0 0;background:#8d0000;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;text-align:center;display:block;width:150px;height:30px;text-align:center;margin-top:20px;border:none;cursor:pointer;}
#stage button:focus,#stage button:hover{background: #d80000;text-decoration: none;}
#stage:focus button, #stage:hover button {background: #d80000;}